In [7]:
import os
import pyodbc
import numpy as np
import pandas as pd

In [8]:
pyodbc.drivers()

['SQL Server',
 'SQL Server Native Client 11.0',
 'Microsoft Access dBASE Driver (*.dbf, *.ndx, *.mdx)',
 'MySQL ODBC 8.0 ANSI Driver',
 'MySQL ODBC 8.0 Unicode Driver',
 'ODBC Driver 17 for SQL Server',
 'SQL Server Native Client RDA 11.0',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)']

In [9]:
os.listdir('./../../repos/LASOS-INT/TTBsim/01_Config/DBFiles/')

['Modelo de Dados - ToolBoxMix.png',
 'off',
 'off2',
 'ToolBoxMix_Development - Faz Tudo Quero Logo.mdb',
 'ToolBoxMix_Development.mdb',
 'ToolBoxMix_InjecaoPlastica.mdb',
 'ToolBoxMix_MetalMeca - backup.mdb',
 'ToolBoxMix_MetalMeca.ldb',
 'ToolBoxMix_MetalMeca.mdb']

In [10]:
path = './../../repos/LASOS-INT/TTBsim/01_Config/DBFiles/ToolBoxMix_MetalMeca.mdb'
conn_str =     conn_str = (r'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};' +
            'DBQ='+f'{path};')
print(conn_str)
conn = pyodbc.connect(conn_str)

DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=./../../repos/LASOS-INT/TTBsim/01_Config/DBFiles/ToolBoxMix_MetalMeca.mdb;

In [11]:
cursor = conn.cursor()
for i in cursor.tables(tableType='TABLE'):
    print(i.table_name)

ACABADO
AGRU_ENTID
AGRU_GRUPO
AGRU_LINK
ALTERNATIVAS
ATIV_CENTRO
ATIV_PRECED
ATIVP
CAL_EXCE
CAL_PART
COMPRADO
CONJUGADAS
CONJUNTOS
CTRL_APONTA
CTRL_ESTOQ_DEPO
CTRL_ESTOQ_MOV
CTRL_ESTOQ_POS
CTRL_MARCO
DEC_CRITERIOS_DE_SEQUENCIAMENTO
DEC_DEDICACAO_MAQUINAS
DEC_FLEXIBILIDADES
DEC_HORA_EXTRA
DEC_HORARIOS
DEC_LOTES_PRODUCAO
DEC_LOTES_TRANSFERENCIA
DEC_PLANO_COMPRAS
DEC_PRAZOS_ENTREGAS
DEC_PRIORIDADE
DEC_RESTRICAO_INICIO
DEC_SIMULAR_ORDEM_PRODUCAO
DEC_SPLITS
DEC_SUBCONTRATACOES
DEC_TEMPO_TRANS
ELO_PERDIDO
Erros ao colar
ESCALARES
ESTOQUES
ESTOQUES_PROCESSO
EXT_COMPRA
EXT_COMPRA_RECEB
EXT_EMPRESA
EXT_PLANO_MESTRE
EXT_VENDA
EXT_VENDA_ENTREGA
EXT_VENDA_STATUS
FABRICA
FABRICA_OLD
FERRAMENTA
FLEX_ESCOPO_MAQ
FLEX_ESCOPO_OPER
HORARIOS
HORARIOS_PARTICAO
ITEM
ITEM_ESTRU
ITENS_NAVEGACAO
ITENS_SELECAO
LISTA_APLICACOES
LISTA_APLICACOES_AUX
MAQUINA
OPERACOES
REL_ANALISE_FINANCEIRA
REL_DEBUG
REL_DEMANDAS_LIQUIDAS
REL_ENTREGAS_NAO_REALIZADAS
REL_NECESS_MAT
REL_PONTUALIDADE
REL_RECEB_MAT
REL_SEQUENCIA_DETALHADA
REL_SEQUENCIA_RESUMIDA
REL_TAREFAS
REL_UTILIZACAO
SETUPS
SETUPS_LIMITE_SIMULTANEOS
SOLUCOES
TAB_HORIZONTE
TAB_SIMU_PAR
TAB_UNID
temp_1_Alteruso
temp_2_Aptidoes
TIPOS_ITENS
Z_CONFIGURAARVOREMATERIAIS
Z_CONFIGURAGANTT
Z_PALETAGANTTPADRAO
Z_PALETAGANTTPRODUTO
Z_SIMU_ALTERCONJ
Z_SIMU_ALTERUSO
Z_SIMU_APONTA
Z_SIMU_ATIV
Z_SIMU_CAL7D
Z_SIMU_CALENDARIO
Z_SIMU_CONJUGADAS
Z_SIMU_CONJUNTOS
Z_SIMU_CRITSEQASSOCIADO
Z_SIMU_DFLEXIBILIDADE
Z_SIMU_DHORARIO
Z_SIMU_DLOTEPROD
Z_SIMU_DLOTETRANS
Z_SIMU_DPLANOCOMP
Z_SIMU_DPRAZOENTR
Z_SIMU_DPRIORIDADE
Z_SIMU_DSPLIT
Z_SIMU_DTEMPOTRANSP
Z_SIMU_ELO
Z_SIMU_ENTREGA
Z_SIMU_ESTOQMOV
Z_SIMU_ESTOQPOS
Z_SIMU_ESTRUTURA
Z_SIMU_GRUPO
Z_SIMU_ITEM
Z_SIMU_LINK
Z_SIMU_MARCO
Z_SIMU_PRECEDENCIA
Z_SIMU_RECEBIMENTO
Z_SIMU_RECURSO
Z_SIMU_SETUP
Z_SIMU_TABUNID
Z_SIMU_USO

In [12]:
ENTREGAS = pd.read_sql('select * from EXT_VENDA_ENTREGA', conn)
PLANO = pd.read_sql('select * from EXT_PLANO_MESTRE', conn)
if len(ENTREGAS) == 0:
    ENTREGAS = pd.read_sql('select * from EXT_PLANO_MESTRE', conn)
ENTREGAS.sort_values(by='CdItem', inplace=True)
ENTREGAS.head()

C:\Users\arthu\AppData\Local\Temp\ipykernel_4300\2424072205.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ENTREGAS = pd.read_sql('select * from EXT_VENDA_ENTREGA', conn)
C:\Users\arthu\AppData\Local\Temp\ipykernel_4300\2424072205.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  PLANO = pd.read_sql('select * from EXT_PLANO_MESTRE', conn)

,CdVenda,CdEntrega,DsEntrega,CdTpElo,CdItem,CdAtiv,DtEntrega,HrEntrega,QtEntrega,VlUnit,VlMultaDia,FgNaoSimu
0,Venda1,Entrega1,ROTOR,ITEM,OS/120,-1,2017-06-25,-1,4.0,6240.000000,124.8,0
11,Venda2,Entrega2,BOMBA NATIONAL,ITEM,OS/121,-1,2017-06-20,-1,1.0,3380.000000,16.9,0
22,Venda3,Entrega3,DIFUSOR DE AR,ITEM,OS/122,-1,2017-07-12,-1,6.0,9576.666667,287.3,0
33,Venda4,Entrega4,FLAP ESQUERDO,ITEM,OS/123,-1,2017-06-25,-1,2.0,8840.000000,88.4,0
36,Venda5,Entrega5,FLAP DIREITO,ITEM,OS/124,-1,2017-06-20,-1,2.0,8840.000000,88.4,0

In [13]:
PLANO.head()

Empty DataFrame
Columns: [CdItem, DtEntrega, QtEntrega, FgNaoSimu]
Index: []

In [14]:
TAREFAS = pd.read_sql('select * from REL_TAREFAS', conn)
TAREFAS.sort_values(by=['CdAtiv', 'NuEstagio', 'CdMaq'], inplace=True)
TAREFAS.head()

C:\Users\arthu\AppData\Local\Temp\ipykernel_4300\2233178274.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  TAREFAS = pd.read_sql('select * from REL_TAREFAS', conn)

,IdTar,IdTarAgreg,CdMaq,CdFerr,CdEntrega,CdAcabado,DtEntrega,CdAtiv,CdItem,NuEstagio,...,TmRepouso,TmTrans,TmLiqSetup,TmLiqProc,TmLiqRepouso,TmLiqTrans,QtProg,NumCriterio,FgAtrasou,FgEntrega
22,22,22,020,-,Entrega1,None,None,OS/120#1,None,None,...,0.0,0.0,0.0,57600.0,0.0,0.0,4.0,5,False,False
36,36,36,013,-,Entrega1,None,None,OS/120#2,None,None,...,0.0,0.0,0.0,28800.0,0.0,0.0,4.0,5,False,False
45,45,45,006,-,Entrega1,None,None,OS/120#3,None,None,...,0.0,0.0,0.0,43200.0,0.0,0.0,4.0,5,False,False
52,52,52,011,-,Entrega1,None,None,OS/120#4,None,None,...,0.0,0.0,0.0,72000.0,0.0,0.0,4.0,-1,False,False
80,80,80,010,-,Entrega1,None,None,OS/120#5,None,None,...,0.0,0.0,0.0,100800.0,0.0,0.0,4.0,5,False,False

In [20]:
for tar in TAREFAS.itertuples():
    print(tar.CdMaq)

020
013
006
011
010
014
019
006
011
013
006
018
019
016
018
019
020
013
009
010
011
004
001
004
005
021
013
006
011
010
014
019
020
013
006
011
010
014
019
016
018
019
006
010
011
004
001
004
005
006
012
013
006
018
019
007
012
013
007
018
019
021
013
007
012
010
014
019
020
013
006
011
010
014
019
020
019
020
013
006
012
010
014
019
017
018
019
021
013
007
010
011
001
004
005
020
019
021
013
008
011
010
014
019
016
018
019
021
013
008
010
012
004
002
004
005
020
013
007
012
010
015
019
021
019
017
018
019
021
013
007
010
011
004
001
004
005
008
011
013
008
018
019
020
013
006
011
010
014
019
020
019
021
019
016
018
019
021
013
006
010
011
004
001
004
005
008
012
013
006
018
019
016
018
019
021
013
007
010
012
004
001
004
005
020
013
006
012
010
015
019
021
013
007
012
010
015
019
016
018
019
020
013
007
010
012
004
001
004
005
006
012
013
007
018
019
007
012
013
006
018
019
021
013
008
012
010
015
019
021
013
006
011
010
014
019
020
019
021
013
007
011
010
014
019
017
018
019
020
013
006
010
012
004
002
004
005
020
019
021
013
006
012
010
014
019
016
018
019
020
013
009
010
011
004
003
004
005
020
013
007
011
010
014
019
021
013
006
012
010
014
019

In [6]:
my_dict = {'a':1, 'b':2, 'c':3}
for l in list(my_dict.keys())[-1:]:
    print(l)

c

In [75]:
for tar in TAREFAS.itertuples():
    print(tar.IniProc.date(), tar.CdMaq)

2017-06-06 020
2017-06-07 013
2017-06-08 006
2017-06-09 011
2017-06-13 010
2017-06-15 014
2017-06-19 019
2017-06-06 006
2017-06-06 011
2017-06-06 013
2017-06-06 006
2017-06-07 018
2017-06-08 019
2017-06-21 016
2017-06-29 018
2017-07-06 019
2017-06-07 020
2017-06-09 013
2017-06-12 009
2017-06-15 010
2017-06-16 011
2017-05-26 004
2017-05-29 001
2017-06-01 004
2017-06-02 005
2017-06-06 021
2017-06-07 013
2017-06-07 006
2017-06-07 011
2017-06-08 010
2017-06-09 014
2017-06-12 019
2017-05-29 020
2017-05-29 013
2017-05-30 006
2017-05-30 011
2017-05-31 010
2017-06-01 014
2017-06-02 019
2017-06-15 016
2017-06-19 018
2017-06-20 019
2017-05-26 006
2017-05-26 010
2017-05-29 011
2017-06-12 004
2017-06-12 001
2017-06-13 004
2017-06-14 005
2017-06-12 006
2017-06-12 012
2017-06-12 013
2017-06-12 006
2017-06-13 018
2017-06-13 019
2017-06-12 007
2017-06-12 012
2017-06-12 013
2017-06-13 007
2017-06-13 018
2017-06-14 019
2017-06-06 021
2017-06-06 013
2017-06-06 007
2017-06-06 012
2017-06-07 010
2017-06-08 014
2017-06-08 019
2017-06-12 020
2017-06-13 013
2017-06-14 006
2017-06-15 011
2017-06-16 010
2017-06-21 014
2017-06-22 019
2017-06-13 020
2017-06-14 019
2017-06-15 020
2017-06-16 013
2017-06-16 006
2017-06-16 012
2017-06-19 010
2017-06-21 014
2017-06-23 019
2017-06-27 017
2017-06-30 018
2017-07-04 019
2017-06-16 021
2017-06-19 013
2017-06-19 007
2017-06-20 010
2017-06-23 011
2017-05-26 001
2017-05-29 004
2017-05-30 005
2017-06-14 020
2017-06-15 019
2017-06-21 021
2017-06-21 013
2017-06-21 008
2017-06-21 011
2017-06-22 010
2017-06-22 014
2017-06-26 019
2017-06-19 016
2017-06-23 018
2017-06-26 019
2017-06-08 021
2017-06-08 013
2017-06-08 008
2017-06-12 010
2017-06-13 012
2017-06-12 004
2017-06-13 002
2017-06-14 004
2017-06-16 005
2017-06-16 020
2017-06-16 013
2017-06-16 007
2017-06-19 012
2017-06-21 010
2017-06-21 015
2017-06-22 019
2017-06-14 021
2017-06-15 019
2017-06-16 017
2017-06-21 018
2017-06-23 019
2017-06-07 021
2017-06-08 013
2017-06-08 007
2017-06-09 010
2017-06-13 011
2017-06-13 004
2017-06-13 001
2017-06-14 004
2017-06-15 005
2017-06-13 008
2017-06-14 011
2017-06-14 013
2017-06-14 008
2017-06-15 018
2017-06-15 019
2017-06-06 020
2017-06-06 013
2017-06-06 006
2017-06-06 011
2017-06-07 010
2017-06-07 014
2017-06-08 019
2017-06-13 020
2017-06-15 019
2017-06-15 021
2017-06-16 019
2017-07-05 016
2017-07-07 018
2017-07-11 019
2017-06-21 021
2017-06-22 013
2017-06-22 006
2017-06-23 010
2017-06-27 011
2017-07-03 004
2017-07-03 001
2017-07-04 004
2017-07-04 005
2017-06-12 008
2017-06-12 012
2017-06-13 013
2017-06-13 006
2017-06-14 018
2017-06-15 019
2017-06-28 016
2017-07-07 018
2017-07-14 019
2017-06-12 021
2017-06-14 013
2017-06-14 007
2017-06-16 010
2017-06-21 012
2017-06-15 004
2017-06-19 001
2017-06-21 004
2017-06-23 005
2017-06-16 020
2017-06-19 013
2017-06-19 006
2017-06-20 012
2017-06-20 010
2017-06-23 015
2017-06-26 019
2017-06-20 021
2017-06-21 013
2017-06-21 007
2017-06-26 012
2017-06-26 010
2017-06-29 015
2017-06-29 019
2017-06-29 016
2017-07-04 018
2017-07-05 019
2017-06-21 020
2017-06-21 013
2017-06-21 007
2017-06-22 010
2017-06-26 012
2017-06-15 004
2017-06-15 001
2017-06-19 004
2017-06-19 005
2017-06-16 006
2017-06-16 012
2017-06-16 013
2017-06-16 007
2017-06-20 018
2017-06-21 019
2017-06-16 007
2017-06-16 012
2017-06-16 013
2017-06-19 006
2017-06-21 018
2017-06-21 019
2017-06-22 021
2017-06-23 013
2017-06-23 008
2017-06-29 012
2017-06-30 010
2017-06-30 015
2017-07-03 019
2017-06-19 021
2017-06-20 013
2017-06-21 006
2017-06-22 011
2017-06-26 010
2017-06-28 014
2017-06-30 019
2017-06-19 020
2017-06-20 019
2017-06-22 021
2017-06-22 013
2017-06-23 007
2017-06-28 011
2017-06-29 010
2017-06-30 014
2017-07-03 019
2017-06-30 017
2017-07-05 018
2017-07-07 019
2017-06-21 020
2017-06-22 013
2017-06-22 006
2017-06-23 010
2017-06-27 012
2017-06-20 004
2017-06-20 002
2017-06-23 004
2017-06-28 005
2017-06-20 020
2017-06-21 019
2017-06-23 021
2017-06-23 013
2017-06-23 006
2017-06-29 012
2017-06-30 010
2017-07-03 014
2017-07-03 019
2017-07-03 016
2017-07-05 018
2017-07-10 019
2017-06-22 020
2017-06-23 013
2017-06-23 009
2017-06-28 010
2017-06-29 011
2017-06-20 004
2017-06-21 003
2017-06-23 004
2017-06-29 005
2017-06-23 020
2017-06-23 013
2017-06-23 007
2017-06-30 011
2017-07-03 010
2017-07-04 014
2017-07-04 019
2017-06-23 021
2017-06-23 013
2017-06-26 006
2017-06-30 012
2017-07-04 010
2017-07-04 014
2017-07-05 019

In [76]:
CALENDARIO = pd.read_sql('select * from HORARIOS_PARTICAO', conn)
CALENDARIO

C:\Users\arthu\AppData\Local\Temp\ipykernel_9352\62351689.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  CALENDARIO = pd.read_sql('select * from HORARIOS_PARTICAO', conn)

,HorarioCod,DiaDaSemana,DiaDaSemanaExibir,Turno1,InicioTurno1,FimTurno1,TipoTurno1,Turno2,InicioTurno2,FimTurno2,TipoTurno2,Turno3,InicioTurno3,FimTurno3,TipoTurno3,Turno4,InicioTurno4,FimTurno4,TipoTurno4
0,HORÁRIO 1,1,1,None,1899-12-30 08:00:00,1899-12-30 12:00:00,FOLGA,None,1899-12-30 12:00:00,1899-12-30 16:00:00,FOLGA,None,1899-12-30 16:00:00,1899-12-30 20:00:00,FOLGA,None,1899-12-30 20:00:00,1899-12-30 08:00:00,FOLGA
1,HORÁRIO 1,2,2,None,1899-12-30 08:00:00,1899-12-30 12:00:00,NORMAL,None,1899-12-30 12:00:00,1899-12-30 16:00:00,NORMAL,None,1899-12-30 16:00:00,1899-12-30 20:00:00,NORMAL,None,1899-12-30 20:00:00,1899-12-30 08:00:00,FOLGA
2,HORÁRIO 1,3,3,None,1899-12-30 08:00:00,1899-12-30 12:00:00,NORMAL,None,1899-12-30 12:00:00,1899-12-30 16:00:00,NORMAL,None,1899-12-30 16:00:00,1899-12-30 20:00:00,NORMAL,None,1899-12-30 20:00:00,1899-12-30 08:00:00,FOLGA
3,HORÁRIO 1,4,4,None,1899-12-30 08:00:00,1899-12-30 12:00:00,NORMAL,None,1899-12-30 12:00:00,1899-12-30 16:00:00,NORMAL,None,1899-12-30 16:00:00,1899-12-30 20:00:00,NORMAL,None,1899-12-30 20:00:00,1899-12-30 08:00:00,FOLGA
4,HORÁRIO 1,5,5,None,1899-12-30 08:00:00,1899-12-30 12:00:00,NORMAL,None,1899-12-30 12:00:00,1899-12-30 16:00:00,NORMAL,None,1899-12-30 16:00:00,1899-12-30 20:00:00,NORMAL,None,1899-12-30 20:00:00,1899-12-30 08:00:00,FOLGA
5,HORÁRIO 1,6,6,None,1899-12-30 08:00:00,1899-12-30 12:00:00,NORMAL,None,1899-12-30 12:00:00,1899-12-30 16:00:00,NORMAL,None,1899-12-30 16:00:00,1899-12-30 20:00:00,NORMAL,None,1899-12-30 20:00:00,1899-12-30 08:00:00,FOLGA
6,HORÁRIO 1,7,7,None,1899-12-30 08:00:00,1899-12-30 12:00:00,FOLGA,None,1899-12-30 12:00:00,1899-12-30 16:00:00,FOLGA,None,1899-12-30 16:00:00,1899-12-30 20:00:00,FOLGA,None,1899-12-30 20:00:00,1899-12-30 08:00:00,FOLGA
7,HORÁRIO 2,1,1,None,1899-12-30 08:00:00,1899-12-30 12:00:00,FOLGA,None,1899-12-30 12:00:00,1899-12-30 16:00:00,FOLGA,None,1899-12-30 16:00:00,1899-12-30 20:00:00,FOLGA,None,1899-12-30 20:00:00,1899-12-30 08:00:00,FOLGA
8,HORÁRIO 2,2,2,None,1899-12-30 08:00:00,1899-12-30 12:00:00,NORMAL,None,1899-12-30 12:00:00,1899-12-30 16:00:00,NORMAL,None,1899-12-30 16:00:00,1899-12-30 20:00:00,NORMAL,None,1899-12-30 20:00:00,1899-12-30 08:00:00,FOLGA
9,HORÁRIO 2,3,3,None,1899-12-30 08:00:00,1899-12-30 12:00:00,NORMAL,None,1899-12-30 12:00:00,1899-12-30 16:00:00,NORMAL,None,1899-12-30 16:00:00,1899-12-30 20:00:00,NORMAL,None,1899-12-30 20:00:00,1899-12-30 08:00:00,FOLGA
10,HORÁRIO 2,4,4,None,1899-12-30 08:00:00,1899-12-30 12:00:00,NORMAL,None,1899-12-30 12:00:00,1899-12-30 16:00:00,NORMAL,None,1899-12-30 16:00:00,1899-12-30 20:00:00,NORMAL,None,1899-12-30 20:00:00,1899-12-30 08:00:00,FOLGA
11,HORÁRIO 2,5,5,None,1899-12-30 08:00:00,1899-12-30 12:00:00,NORMAL,None,1899-12-30 12:00:00,1899-12-30 16:00:00,NORMAL,None,1899-12-30 16:00:00,1899-12-30 20:00:00,NORMAL,None,1899-12-30 20:00:00,1899-12-30 08:00:00,FOLGA
12,HORÁRIO 2,6,6,None,1899-12-30 08:00:00,1899-12-30 12:00:00,NORMAL,None,1899-12-30 12:00:00,1899-12-30 16:00:00,NORMAL,None,1899-12-30 16:00:00,1899-12-30 20:00:00,NORMAL,None,1899-12-30 20:00:00,1899-12-30 08:00:00,FOLGA
13,HORÁRIO 2,7,7,None,1899-12-30 08:00:00,1899-12-30 12:00:00,FOLGA,None,1899-12-30 12:00:00,1899-12-30 16:00:00,FOLGA,None,1899-12-30 16:00:00,1899-12-30 20:00:00,FOLGA,None,1899-12-30 20:00:00,1899-12-30 08:00:00,FOLGA

In [77]:
initial_date = pd.read_sql('select DtHrIniSim from TAB_HORIZONTE', conn).iloc[0].values[0]
import datetime
initial_date = pd.to_datetime(initial_date)
day = np.datetime64(initial_date.date()).astype(datetime.datetime).isoweekday()
day, initial_date

C:\Users\arthu\AppData\Local\Temp\ipykernel_9352\608489023.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  initial_date = pd.read_sql('select DtHrIniSim from TAB_HORIZONTE', conn).iloc[0].values[0]

(5, Timestamp('2017-05-26 08:00:00'))

In [78]:
conn.close()